Decompress Run-Length Encoded List
FindPeakElement
How Many Numbers Are Smaller Than the Current Number
Jewels and Stones
Kids With the Greatest Number of Candies
Maximum69Number
Number of Steps to Reduce a Number to Zero
PeakIndexInMountainArray
Subtract the Product and Sum of Digits of an Integer